@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #13ff00;
  color: black;
}

/* BROWSER SCROLLBAR */
:root {
  --primary: black;
  --secondary: white;
  /* --secondary: #8f8f8f; */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 50px;
  border: 3px solid var(--secondary);
}
